<div class="card">
	<div class="row">
		<div class="col-sm-3 branch-name">
			<div class="branch-photo" style="background: url(/dist/images/branches/{{cardData.photo}})">
				<a href="#">{{cardData.Title}}
					<i class="fa fa-caret-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="col-sm-4 branch-address">
			<h2>{{cardData.Title}} Branch</h2>
			<address>
				{{cardData.Address}}
				<br/> {{cardData.City}}, MD {{cardData.Zip}}
			</address>
		</div>
		<div class="col-sm-5 branch-email-phone">
			<div class="branch-email-phone-wrapper">
				<a href="mailto:{{cardData.Email}}" class="branch-email">
					<i class="fa fa-envelope" aria-hidden="true"></i> Contact {{cardData.Name}}
				</a>
				<a href="tel:{{cardData.Phone}}" class="branch-phone">
					<i class="fa fa-phone" aria-hidden="true"></i> {{cardData.Phone}}
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="tags">
				<ul class="tag-list">
					<tag tag-data="cardData" active-filters="activeFilters" filter-handler="filterHandler"></tag>
				</ul>
			</div>
		</div>
	</div>
</div>