p + .content-accordion {
    margin-bottom: 0;
}

.content-accordion {
    margin: 30px 0;

    .panel {
        border: 1px solid $gray-lightest;

        & > h1, & > h2, & > h3, & > h4, & > p {
            margin-top: 0;
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 18px;
            font-family: inherit;

            a {
                padding: .5em .8em;
				background: $gray-almost-white;
				text-decoration: none !important;

                i {
                    position: relative;
                    top: 8px;
                    padding-right: 10px;
                }
            }
        }

        .content-accordion-body {
            .wrapper {
                padding: 2em;
            }
        }
    }
}

@media (max-width: $screen-md) {
    .content-accordion .panel .content-accordion-body .wrapper {
        padding: 1em;
    }
}