.content-accordion {
    margin-bottom: 30px;

    .panel {
        &:last-child {
            h4 {
                margin-bottom: 0;
            }
        }

        h4 {
            margin-top: 0;
            margin-bottom: 1px;
            font-weight: 600;

            a {
                padding: .5em;
                display: block;   
                background: $gray-almost-white;  

                i {
                    position: relative;
                    top: 8px;
                }
            }            
        }

        .content-accordion-body {
            .wrapper {
                padding: 2em;
            }
        }
    }
}

@media (max-width: $screen-md) {
    .content-accordion {
        .panel {
            .content-accordion-body {
                .wrapper {
                    padding: 0;
                }
            }
        }
    }
}