.book-carousel {    
    margin: 0 auto 30px;
    display: none;
    flex: 1;
    background-color: $gray-lightest;
    
    .inner {
        text-align: center;
        padding: 2em;
        
        img {
            display: block;
            margin: 0 auto;
        }

        a {
            display: block;
            margin-top: .5em;
        }
    }
    
    .slick-arrow {
		display: flex;
		align-items: center;
		padding: .5em;
		text-decoration: none;
		background-color: $teal;
		color: white;
        font-size: 2em;
        
        &:hover {
            background-color: $teal-light;
        }
    }

    &.slick-slider,
    &.slick-initialized {
        display: flex;
    }

    .slick-list {
        flex: 1;
    }
}

.tabs {
    .book-carousel {
        margin-bottom: 0;
    }
}

@media (max-width: $screen-xs) {
	.book-carousel,
	.book-carousel.slick-slider {
		display: block;

		.slick-arrow:last-child {
			justify-content: flex-end;
		}
	}
}