.cards {
	.card {
		address {
			line-height: 1.7em;
			margin-bottom: 0;
		}

		.branch-photo {
			display: table;

			a {
				color: white;
				display: table-cell;
				font-weight: 700;
				height: 100px;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				width: 180px;
			}
		}

		.branch-email {
			font-weight: 700;
		}
	}
}

.branch-general-info {
	background: white;
	border-top: 5px solid $tan;

	.branch-hours-wrapper {
		padding-right: 1em;
	}
}

.map-wrapper {
	padding: 1.5em 0 1em 1em;

	#location-map {
		border: 1px solid $tan;
		height: 375px;		
	}
}