.cards {
	.card {
		address {
			line-height: 1.7em;
			margin-bottom: 0;
		}

		.branch-photo {
			display: table;

			a {
				color: white;
				display: table-cell;
				font-weight: 700;
				height: 100px;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				width: 180px;
			}
		}

		.branch-email {
			font-weight: 700;
		}
	}
}

main {
	.filters {
		float: left;
		width: calc(25% - 15px);
		margin-right: 30px;
	}

	header {
		float: left;
		width: calc(75% - 15px);
	}

	.branch-general-info {
		background: white;
		border-top: 5px solid $tan;
		float: left;
		width: calc(75% - 15px);

		.branch-hours-wrapper {
			padding-right: 1em;
		}

		.map-wrapper {
			padding: 1.5em 0 1em 1em;
		
			#location-map {
				border: 1px solid $tan;
				height: 375px;	
				
				.info-window {
					a {
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}
		}		
	}	

	.cards {
		float: left;
		width: calc(75% - 15px);
	}
}


.holiday-closings {
	position: absolute;
	right: 15px;
	top: 45px;

	a {
		font-weight: 700;
		text-transform: uppercase;
	}
}

@media (max-width: $screen-sm-max) {
	.holiday-closings {
		/* top: 30px; */
	}

	.map-wrapper {
		display: none;
	}

	.branch-general-info {
		.branch-hours-wrapper {
			padding: 0 1em;
		}
	} 

	main {
		.wrapper {
			display: flex;
			flex-direction: column;

			.filters {
				min-height: initial;
				width: 100%;
				order: 3;
			}
	
			header {
				width: 100%;
				order: 1;
			}
	
			.branch-general-info {
				width: 100%;
				order: 2;
			}
	
			.cards {
				display: table-footer-group;
				width: 100%;
				order: 4;
			}		
	
		}		
	}
}

@media (max-width: $screen-xs-max) {
	.holiday-closings {
		position: static;
		margin-bottom: 1em;
	}
}