.breadcrumbs-wrapper {
	margin: .5em 0;
	text-transform: uppercase;
	font-size: .75em;

	nav {
		ul {
			li {
				background: white;
				border-radius: 16px;
				padding: .25em .75em;
				margin: 0 1.1em;
				position: relative;

				&:first-child {
					margin-left: 0;
					padding: .25em .5em;
					top: 3px;

					i {
						font-size: 20px;
					}
				}

				&:after {					
					color: $tan;					
					content: "\f061";
					font-family: FontAwesome;
					font-size: 2em;
					position: absolute;
					right: -1em;
					top: -5px;
				}

				&:last-child {
					&:after {
						content: "";
					}
				}

			}
		}
	}
}