.breadcrumbs-wrapper {
	margin: .5em 0;
	text-transform: uppercase;
	font-size: .75em;

	span {
		margin-left: 0;
	}

	.breadcrumb {
		background: white;
		border-radius: 16px;
		padding: .25em .75em;
		margin: 0 1.1em;
		position: relative;

		&:first-child {
			margin-left: 0;

			&:before {				
				content: "\f015";
				display: inline-block;
				font-family: FontAwesome;
				margin-right: .5em;
			}
		}

		&:after {					
			color: $tan;					
			content: "\f061";
			font-family: FontAwesome;
			font-size: 2em;
			position: absolute;
			right: -28px;
		}
		
		&:last-child {
			&:after {
				content: "";
			}
		}
	}

	span.breadcrumb:after {
		top: -7px;			
	}
}

@media (max-width: $screen-sm) {
	.breadcrumbs-wrapper {
		display: none;
	}
}