.cards {
	margin-top: 1em;

	a.card {
		background: white;
		color: $gray;
		cursor: pointer;
		display: inline-block; 
		font-weight: 700;
		margin: .65em;
		padding: .5em;		
		transition: all 0.25s ease;

		&:nth-child(n+1), 
		&:nth-child(n+2), 
		&:nth-child(n+3), 
		&:nth-child(n+4) {
			margin-top: 0;
		}

		&:nth-child(4n+1) {
			margin-left: 0;
		}

		&:nth-child(4n+4) {
			margin-right: 0;
		}

		&:hover {
			color: white;
			background: $teal;
			text-decoration: none;
		}

		img { 
			width: 180px;
		}	
		
		p {
			margin-top: 1em;
		}
	}
}