.card--blog {
	display: flex;

	.card-heading,
	.card-heading a {
		margin: 0 auto .3em;
		color: $teal;
		font-weight: 700;
		font-size: 24px;
	}

	.card-heading a {
		line-height: 1.3em;
	}
	
    .card-content,
    .card-icon-callout {
        padding: 15px;
	}
	
    .card-content-img-container {
        text-align: center;
		width: 15%;
		
        .card-content-img {
			padding: 10px;
            width: 100%;
        }
	}
	
    .card-content {
        width: 65%;
	}
	.card-content-summary {
		margin: 10px auto;
	}
	
    .card-icon-callout {
        color: $gray-light;
        text-align: center;
		width: 20%;
		
        i {
			display: block;

			/* HACK - Site Executive requires a 'i' element to have content which causes the alignment to get funky */
            span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
	.card--blog {
		.card-content-img-container {
			width: 25%;
		}
		.card-content {
			width: 75%;
		}
	}
}