.cards {
	margin-top: 1em;

	.card {
		background: white;
		color: $gray;
		display: block;
		margin-bottom: 1.2em; 
		padding: .5em;		
		transition: all 0.25s ease;		
		box-shadow: $shadow-primary;		
	}

	a {
		&.card {
			&:hover {
				background-color: $teal;
				color: white;
			}
		}
	}
}

@media (max-width: $screen-md) {
	
}

@media (max-width: $screen-sm) {
	.cards {
		.card {
			padding: 1em;
		}
	}
}

@media (max-width: $screen-xs) {
}