.cards {
	margin-top: 1em;
	
	&:after {
		content: '';
		flex-basis: 50%;
	}

	a.card {
		background: white;
		color: $gray;
		cursor: pointer;
		display: inline-block; 
		font-weight: 700;
		padding: .5em;		
		margin: 0 .65em 1.3em;
		transition: all 0.25s ease;		

		&:hover {
			color: white;
			background: $teal;
			text-decoration: none;
		}

		img { 
			width: 175px;
		}	
		
		p {
			margin-top: 1em;
		}
	}
}

@media (max-width: $screen-md) {
	.cards {
		a.card {
		}
	}
}