.main-content, .secondary-nav {
	background-color: white;
	margin-top: 1em;
}

.main-content {
	padding: 1.8em;
	margin-bottom: 3em;
}

@media (max-width: $screen-sm) {
	.container {
		.secondary-nav {
			display: none;
		}
	}
}