.main-content {
    background-color: white;
    margin-top: 1em;
}

.main-content {
    padding: 1.8em;
    margin-bottom: 3em;

    &.top-border {
        border-top: 4px solid $tan;
    }

    &.card-header {
        margin-bottom: 1em;
    }
    &.hub-page {
        background: none;
        padding: 0;
    }
    h1:first-of-type {
        margin-top: 0;
    }
    a {
        font-weight: normal;
        line-height: 1.7em;
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: $screen-md) {
    .flex, .flex-md {
        .main-content {
            margin-bottom: 1em;
        }
    }


}

@media (max-width: $screen-xs) {
    .main-content.top-border {
        border-top: none;
    }
}