.filters {
	&.database-filters {
		margin-bottom: 2em;		
		float: left;
		width: calc(25% - 15px);
		margin-right: 30px;

		.expandos .expando-wrapper:first-child h4 {
			margin-top: .75em;
		}
	}
}

.cards {
	&.database-cards {
		float: left;
		width: calc(75% - 15px);

		.card {
			h2 {
				margin: 0 0 .25em;
				a {
					float: none;
					width: 100%;
					margin: 0;
				}
			}

			p {
				margin-bottom: 20px;
			}

			.database-help-wrapper {
				text-align: right;

				.database-help-link {
					float: none;
					width: auto;
					font-size: .8em;
				}
			}
		}
	}
}