.events {
	.registration-required {
		font-weight: 600;
	}
	
	header {
		position: relative;
		.feed {
			position: relative;
			top: 15px;
			display: block;
			float: right;
			margin-left: 2em;

			&:last-child {
				margin-left: 0;
			}
		}			
	}
	.post {
		background: $gray-lightest;
		padding: 2em 1em;
		text-align: center;
		display: block;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		time {
			text-transform: uppercase;
			transform-style: preserve-3d;				

			.date, .link {
				background-color: $red;
				color: white;
			
				.month {
					text-align: center;
				}

				.day {
					text-align: center;
					font-size: 2em;
				}
			}

			.time {
				font-size: .8em;
				margin-top: .5em;
				text-align: center;
			}

			.link {
				background-color: $teal-dark;
				box-shadow: $shadow-primary-darker;

				div:first-child {
					padding-top: .5em;						
				}
			}

		}

		footer {
			margin: 0 -1em;
			border-top: 1px dashed $gray-medium;
			padding: 1em;

			a {
				display: block;
				float: left;
				color: $teal-dark;
				font-size: .8em;

				&:last-child {
					float: right;
				}
			}
		}
	}
}

.registration-required {
	color: red;
	
	button {
		margin-bottom: 0;
	}

	i {
		position: relative;
		top: -1px;
	}
}
.events-search-wrapper {
	.keyword-search-wrapper {
		position: relative;

		.keyword-search {
			padding-right: 35px;
		}
	
		.keyword-search-icon {
			position: absolute;
			z-index: 99;
			right: 8px;
			top: 8px;
			color: $gray-light;
			display: inline-block;
		}
	}
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.event-date-bar {
    background-color: $red;
    color: white;
    padding: 1em 0 1em;
    margin: .25em 0;
    text-transform: uppercase;
	font-weight: bold;

    .event-date {
		display: inline-block;
		padding-left: 1em;
		position: relative;
		left: 0;
		transform: translateX(0);
		transition: .5s all ease;
    }
}

.is-sticky {
	.event-date-bar {
		margin: 0;

		.event-date {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.events-list {
	margin-bottom: 2em;

	.cards {
		float: none;
	
		.card {
			transition: .25s opacity ease;
			padding: 0.9em;

			&.ng-enter {
				opacity: 0;

				&.ng-enter-active {
					opacity: 1;
				}		
			}
			
			&.ng-leave {
				opacity: 1;

				&.ng-leave-active {
					opacity: 0;
				}
			}

			&.ng-move {
				opacity: 1;

				&.ng-move-active {
					opacity: 0;
				}
			}

			a {
				width: auto;
				float: none;
				font-weight: inherit;
				margin: 0;
			}

			.card-icon {
				color: $gray-light;
			}
			
			.event-time {
				word-wrap: break-word;
				padding: 1em 0 0 1em;
				text-align: center;
				color: $gray;
				font-weight: bold;
				border: none !important;
			}
			
			.event-location {
				padding: 1em 0 0 0;
				text-align: center;
				color: $gray;
				font-weight: bold;
			}
			
			.event-name {
				color: $teal-light;
				font-weight: bold;
				font-size: 24px;		
				line-height: 1.3em;

				a {
					line-height: 1.3em;
				}
			}

			.registration-required {
				color: red;
				font-size: .8em;
				font-weight: 700;
				padding: .5em 0;
				text-transform: uppercase;

				i {
					position: relative;
					top: -1px;
				}
			}
			
			.event-details {
				p {
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}

.filters {
    margin-bottom: .75em;
    color: $teal;

    h5.filter-headers {
        color: $gray;
        font-size: 16px;
        padding-left: 1em;
		margin-bottom: 0;
    }

    &.event-filters {
        float: none;
        width: 100%;
        margin-right: 0;

			.collapse {
				display: none;	
				
				&.in {
					display: block;
				}
			}
	
		.collapse-control {
			display: inline-block;
			margin: 1em;
		}

		h4 {
			margin: 1.5em 0 .5em;
			padding: 0;		
		}

        .filter-items-wrapper {
			padding: 1em;			

			.events-search-wrapper {
				h4 {
					margin-top: 0;
				}
			}
				
			.filter-control-wapper {				
				&:last-child {
					padding: .5em 0 0;
				}

				label {
					display: block;
					font-weight: normal;
				}
				
				button {
					display: block;
					width: 100%;
				}
			}
        }
    }
}


.scrolling-filter {
    max-height: 8em;
    overflow-y: auto;
    border: 1px solid $gray-light;
    font-size: .8em;
    padding: .5em;

    label {
        display: block;
        margin-bottom: 0;
    }

}

.filter-group {
    padding: 0 .5em .5em;

    label {
		display: block;
		cursor: pointer;
    }
}

.event-list {
    background-color: white;
    margin: 1em 0 2em;

    .row {
        padding: 1em; 
    }

    .event {
        float: left;
        
        p {
            margin-bottom: 1em;
        }
    }
}

.datepickers {
	input[type="text"], 
	input[type="date"], 
	input[type="datetime-local"], 
	input[type="time"] {
		border: 1px solid $gray-light;
		width: 100%;
		padding: 8px;
		border-radius: 3px;
	}

	input::placeholder {
		color: $teal;
	}

	.calendar-datepicker {
		padding-right: 50px;
	}
	
	.calendar-datepicker-icon {
		position: absolute;
		right: 10px;
		z-index: 100;
		top: 10px;
		cursor: pointer;
	}
		
	input.flatpickr {
		cursor: pointer;
	}

	.date-validation-error {
		color: red;
		font-size: .8em;
		font-weight: 700;
		transition: .25s opacity ease;

		&.ng-hide {
			opacity: 0;
		}
	}

	.date-field-wrapper {
		position: relative;
		margin-bottom: .5em;
	}
}


#start-date {
    margin: 0 3em 0 0;
}

body, input {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button, input, label {
    -webkit-tap-highlight-color: $gray-dark;
    -webkit-tap-highlight-color: transparent;
}

.event-info {
	margin: 20px auto;

	p {
		margin: 0 auto;
	}
}

@media (max-width: $screen-xs) {
    .event-date-bar {
        .registration-required {
            text-align: left;
            padding-left: 1em;
        }
	}
	.events {
		header {
			.feed {
				display: block;
				float: none;
				text-align: right;
			}
		}
    }
    .registration-msg {
        display: block;
        float: none !important;
        margin: 1.5em auto 1em;
    }
}

@media (max-width: $screen-md) {
    .calendar-datepicker {
        display: block;
	}
	.post {
		margin-bottom: 15px;
	}

	
}

@media (max-width: $screen-md-max) {
	.events-list {
		.cards {
			.card {
				.event-name {
					border-top: 1px solid $gray-lightest;
					margin-top: .5em;
					padding-top: .5em;
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	#events-target {
		padding: 2em 15px;
		display: block;

		.events {
			padding-left: 0;
			padding-top: 2em;
			margin-top: 2em;
			background-repeat: repeat-x;
			background-position: top;
		}
	}
}
