 

.filters {
    margin-bottom: 1em;

    &.event-filters {
        float: none;
        width: 100%;
        margin-right: 0;

        .filter-items-wrapper {
            padding: 1em;

            label {
                display: block;
            }
        }
    }
}


.scrolling-filter {
    width: 15em;
    max-height: 8em;
    overflow-y: auto;
    border: 1px solid $gray-light;
    font-size: .8em;
    padding: .5em;

    label {
        display: block;
        margin-bottom: 0;
    }

}

.keyword-search-bar {
    background-color: white;
    margin: 1em 0 1em;

    .row {
        padding: 1em; 
    }
}
.event-list {
    background-color: white;
    margin: 1em 0 2em;

    .row {
        padding: 1em; 

        &:nth-child(even) {

            .event {
                background: $gray-lightest;
                padding: 1em 0;
            }
        }
    }


    .event {
        float: left;
        
        p {
            margin-bottom: 1em;
        }
    }
}

.search-button {
    background-color: $teal-dark;
    color: white; 
    display: inline;
    width: 1.75em;
    height: 1.75em;

    &:hover {
        background-color: $teal-light;
        color: white; 
    }
}

.clear-button {
    background-color: $teal-dark;
    color: white; 
    width: 5em;
    height: 2.5em;
    margin: 2em 0 1em;

    &:hover {
        background-color: $teal-light;
        color: white;
    }
}

input[type="text"], input[type="date"], input[type="datetime-local"], input[type="time"] {
    border: 1px solid #c3c3c3;
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 8px;
    max-width: 360px;
    border-radius: 3px;
    background: #fff;
}

input.flatpickr {
    cursor: pointer;
}

.calendar-datepicker-label {

    display: block;
    position: relative;

    .calendar-datepicker {
        padding-right: 50px;
    }
    
    .calendar-datepicker-icon {
        position: absolute;
        right: 10px;
        z-index: 100;
        top: 30px;
    }
}

#start-date {
    margin: 0 3em 0 0;
}



body, input {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button, input, label {
    -webkit-tap-highlight-color: $gray-dark;
    -webkit-tap-highlight-color: transparent;
}

.left-filter {
    margin: 1em 0 .5em;
}

.left-filter-date {
    margin: 0 0 .5em;
}