 

.filters {
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: $teal-dark;
    color: white;
    padding: .5em 3em .5em 3em;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 13.8em;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.dropdown-content div {
    color: $gray;
    padding: .5em .5em;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: $gray-lightest}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: $teal-light;
}

.scrolling-filter {
    width: 15em;
    max-height: 8em;
    overflow-y: auto;
    border: 1px solid $gray-light;
    font-size: .8em;

    label {
        display: block;
        margin-bottom: 0;
    }

}

.event-list {
    background-color: white;
    margin: 1em 0 2em;

    .row {
        padding: 1em; 

        &:nth-child(even) {

            .event {
                background: $gray-lightest;
                padding: 1em 0;
            }
        }
    }

    .event {
        float: left;        
    }
}

.search-button {
    background-color: $teal-dark;
    color: white; 
    display: inline;
    width: 1.75em;
    height: 1.75em;
}

.search-button:hover {
    background-color: $teal-light;
    color: white;
}

