 
.events-search-wrapper {
	.keyword-search-wrapper {
		position: relative;

		.keyword-search {
			padding-right: 35px;
		}
	
		.keyword-search-icon {
			position: absolute;
			z-index: 99;
			right: 8px;
			top: 8px;
			color: $gray-light;
			display: inline-block;
		}
	}
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.event-date-bar {
    background-color: $red;
    color: white;
    padding: 1em 0 1em;
    margin: .25em 0;
    text-transform: uppercase;
	font-weight: bold;
	
    .required-asterisk {
        color: red;
        font-weight: normal;
        font-size: medium;
    }

    .event-date {
		display: inline-block;
		padding-left: 1em;
		position: relative;
		left: 0;
		transform: translateX(0);
		transition: .5s all ease;
    }

    .registration-required {
        text-align: right;
        padding-right: 1em;
        font-size: 12px;
    }
}

.is-sticky {
	.event-date-bar {
		margin: 0;

		.event-date {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.events-list {
	.cards {
		float: none;

		.card {
			.card-icon {
				color: $gray-light;
			}
			
			.event-time {
				word-wrap: break-word;
				padding: 1em 0 0 1em;
				text-align: center;
				color: $gray;
				font-weight: bold;
				border: none !important;
			}
			
			.event-location {
				padding: 1em 0 0 0;
				text-align: center;
				color: $gray;
				font-weight: bold;
			}
			
			.event-name {
				color: $teal-light;
				font-weight: bold;
				font-size: 24px;
			
				.required-asterisk {
					color: red;
					font-size: 12px;
					display: inline-block;
					position: relative;
					top: -10px;
				}        
			}
			
			.event-details {
				p {
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}


.filters {
    margin-bottom: .75em;
    color: $teal;

    h5.filter-headers {
        color: $gray;
        font-size: 16px;
        padding-left: 1em;
        margin-bottom: 0;
    }

    &.event-filters {
        float: none;
        width: 100%;
        margin-right: 0;

        .filter-items-wrapper {
            padding: 1em;

			h4 {
				margin: 0 0 .5em;
				padding: 0;		
			}
				
			.filter-control-wapper {
				padding-bottom: 1em;
				
				&:last-child {
					padding: .5em 0 0;
				}

				label {
					display: block;
					font-weight: normal;
				}
				
				button {
					display: block;
					width: 100%;
				}
			}
        }
    }
}


.scrolling-filter {
    max-height: 8em;
    overflow-y: auto;
    border: 1px solid $gray-light;
    font-size: .8em;
    padding: .5em;

    label {
        display: block;
        margin-bottom: 0;
    }

}

.event-list {
    background-color: white;
    margin: 1em 0 2em;

    .row {
        padding: 1em; 
    }


    .event {
        float: left;
        
        p {
            margin-bottom: 1em;
        }
    }
}

input[type="text"], input[type="date"], input[type="datetime-local"], input[type="time"] {
    border: 1px solid #c3c3c3;
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 8px;
    max-width: 360px;
    border-radius: 3px;
    background: #fff;
}

.datepickers {
	padding-top: .5em;

	.calendar-datepicker-label {
		display: block;
		position: relative;
	
		input::placeholder {
			color: $teal;
		}
	
		.calendar-datepicker {
			padding-right: 50px;
		}
		
		.calendar-datepicker-icon {
			position: absolute;
			right: 10px;
			z-index: 100;
			top: 30px;
			cursor: pointer;
		}
	}
		
	input.flatpickr {
		cursor: pointer;
	}
}


#start-date {
    margin: 0 3em 0 0;
}

body, input {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button, input, label {
    -webkit-tap-highlight-color: $gray-dark;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: $screen-xs) {
    .event-date-bar {
        .registration-required {
            text-align: left;
            padding-left: 1em;
        }
    }
}

@media (max-width: $screen-md) {
    .calendar-datepicker {
        display: block;
    }

}
