.featured-section-cta-list {
    .featured-section-cta-list-item {
        font-size: .8em;
        font-weight: 700 !important;
        text-transform: uppercase;
    }

    a {
        text-decoration: none !important;
    }

    i > span {
        display: none;
    }

    > *,
    i {
        margin-right: 5px;
    }

    > *:last-child {
        margin-right: 0;
    }
}