.feature-wrapper {
 	border-bottom: 1em solid $gold;
	padding: 2em 0;

	h2 {
		margin: .5em 0 .5em;
	}

	.feature {
		background-color: white;
		padding: 1em;
		display: block;
		cursor: pointer;
		transition: all 0.25s ease;
		color: $gray;
		box-shadow: $shadow-primary;
		margin-bottom: 2em;

		img {
			width: 100%;
		}

		p {
			font-weight: bold;
			line-height: 1.2;
			margin-top: 1em;
			min-height: 2.5em;
		}

		&:hover {
			background: $teal;
			color: white;
			text-decoration: none;
			box-shadow: $shadow-hover;
		}
	}
}

@media (max-width: $screen-xs) {
	.feature-wrapper {
		.col-xs-6 {
			float: none;
			width: 100%;
		}
	}			
}