form {
	.form-validation-error, .required {
		color: #f00;
		font-weight: 600;
		font-size: .8em;
	}

	.registration-result {
		padding: 1em;

		&.bg-success {
			border-top: 5px solid $form-response-success-border;
			background: $form-response-success-background;
		}

		&.bg-danger {
			border-top: 5px solid $form-response-warning-border;
			background: $form-response-warning-background;
		}

		.text-center {
			text-align: left;
		}
	}
}