form {
	.form-validation-error, .required {
		color: #f00;
		font-weight: 600;
		font-size: .8em;
	}

	.registration-result {
		padding: 1em;

		&.bg-success {
			border-top: 5px solid #93d493;
			background: #eaf6e9;
		}

		&.bg-danger {
			border-top: 5px solid #cf989b;
			background: #f9e6e7;
		}

		.text-center {
			text-align: left;
		}
	}
}