.menu-wrapper {
	color: #fff;
	margin-top: 3em;
	position: absolute;
	width: 100%;
	z-index: 1000;
	.menu-container {
		position: relative;
	}
	button {
		font-size: 1.5em;
	}
	.nav-and-search {
		#activate-search-button {
			margin-right: -15px;
			background-color: #fff;
			border-radius: 8px;
			color: rgba(0, 0, 0, .75);
			height: 36px;
			position: relative;
			top: 10px;
			width: 40px;
			&.active {
				background-color: rgba(0, 0, 0, .5);
				color: white;
				border-radius: 8px 8px 0 0;
				i::before {
					content: "\f00d";
				}
			}
		}
		#hamburger-menu-button {
			display: none;
		}
		nav {
			float: right;
			position: relative;
			top: 7px;
			right: 15px;
			transition: .25 all ease;
			.nav-back-button {
				display: none;
			}
			a,
			button {
				color: white;
				display: block;
				font-size: inherit;
				line-height: 2em;
				text-decoration: none;
				padding: .5em 0 .5em 1em;
				transition: .25s all ease;
				i {
					margin-left: .5em;
					padding-right: 1em;
					&::before {
						width: 5px;
						display: block;
					}
				}
			}
			button {
				text-transform: uppercase;
				font-family: TTRoundsCondensed-Bold;
			}
			ul {
				li {
					&:hover,
					&.active {
						background: $teal-dark;
						.overview {
							display: flex;
							width: 40%;
						}
						ul {
							display: table;
							width: 57%;
							ul {
								display: none;
							}
						}
						a,
						button {
							i.fa-caret-right::before {
								content: "\f0d7";
							}
						}
						.wide {
							.overview {
								display: flex;
								width: 33.33%;
							}
							ul {
								display: table;
								width: 64.5%;
								ul {
									display: none;
								}
							}
						}
						.submenu-wrapper {
							display: flex;
						}
					}
					&.reverse {
						.submenu-wrapper {
							right: 0;
						}
					}
					.overview {
						display: none;
						align-items: center;
						justify-content: center;
						padding: 0 1em;
						margin: 0 1em 0 0;
						border-right: 1px solid $teal;
						a {
							padding: 1em;
							text-align: center;
							&:hover {
								background-color: $teal;
							}
						}
						a,
						button {
							i {
								margin-left: 0;
							}
						}
					}
					.submenu-wrapper {
						position: absolute;
						background: $teal-dark;
						opacity: .95;
						width: 66%;
						padding: 1em;
						display: none;
						&.wide {
							left: 0;
							width: 100%;
							li {
								display: table-cell;
								float: left;
								width: 50%;
								ul {
									display: none;
								}
							}
						}
					}
					ul {
						background-color: $teal-dark;
						display: none;
						li {
							display: block;
							a {
								padding: .5em 1em;
								&:hover {
									background-color: $teal;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
	#search-box {
		background-color: rgba(0, 0, 0, .5);
		color: $gray-dark;
		display: none;
		padding: 1em;
		position: absolute;
		top: 46px;
		right: 0;
		width: 100%;
		input {
			font-size: 1.2em;
			font-weight: bold;
			padding: .25em 2em .25em .5em;
			border: none;
			width: 100%;
		}
		button {
			right: 1em;
			position: absolute;
			top: .65em;
		}
		&.active {
			display: block;
		}
	}
}

.internal {
	.menu-wrapper {
		margin: 0;
		background: url("/dist/images/background-internal-header.jpg") no-repeat;
		background-position-y: 10%;
		.menu-inner-wrapper {
			background: -moz-linear-gradient(top, rgba(0, 161, 155, 1) 0%, rgba(0, 161, 155, 0) 200%);
			/* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0, 161, 155, 1) 0%, rgba(0, 161, 155, 0) 200%);
			/* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0, 161, 155, 1) 0%, rgba(0, 161, 155, 0) 200%);
			/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a19b', endColorstr='#00a19bff', GradientType=0);
			/* IE6-9 */
			padding: 25px 0 25px;
			.menu-container {
				padding: 1em 15px;
			}
		}
	}
}

@media (max-width: $screen-lg) {
	.menu-wrapper {
		.nav-and-search {
			nav {
				float: left;
			}
		}
	}
}

@media (max-width: $screen-md) {
	.menu-wrapper {
		.nav-and-search {
			nav {
				a,
				button {
					padding: .25em 0 .25em .5em;
				}
				ul {
					li {
						margin-right: 0;
					}
				}
			}
		}
	}
	.internal {
		.menu-wrapper {
			margin-top: 0;
			.menu-inner-wrapper {
				padding: 20px 0;
			}
		}
	}
}

@media (max-width: $screen-sm) {

	body {
		transition: .5s left ease;
		position: relative;
		left: 0px;

		&.nav-visible {
			left: -300px;

			.menu-wrapper .menu-container .nav-and-search nav {
				right: 0px;
			}
		}
	} 

	.menu-wrapper {
		position: static;
		margin-top: 0;
		padding-top: 1em;
		background: $teal;
		.nav-and-search {
			padding: 0;
			margin-top: -4.5em;
			#activate-search-button,
			#hamburger-menu-button {
				font-size: 2em;
				padding: .25em .5em;
				margin-right: .25em;
				margin-top: 1em;
				background-color: $red;
				color: white;
				height: inherit;
				width: 60px;
				border-radius: 0;
				&.active {
					background-color: $gray-dark;
					border-radius: 0;
				}
			}
			#activate-search-button {
				margin-right: .25em;
				position: static;
			}
			#hamburger-menu-button {
				display: inline-block;
			}
			#search-box {
				position: static;
				background-color: $gray-dark;
				clear: both;
				input {
					padding-right: 3em;
				}
				button {
					font-size: 1.5em;
					margin-left: -2.2em;
					background: transparent;
					margin-top: 0;
					top: initial;
					position: absolute;
				}
			}

			#responsive-sliding-navigation {
				background: $teal-dark;
				float: none;
				height: 100vh;
				position: fixed;
				right: -300px;
				top: 0;
				width: 300px;
				z-index: 1000;
				
				&.active {
					right: 0;
				}

				&.animatable {
					transition: .5s right ease;
				}

				.nav-back-button {
					display: block;
					background-color: $gray-dark;
					height: 50px;
					width: 100%;

					button {
						color: $gray-light;
						display: block;
						height: 100%;
						padding: 4px .5em 0 0;
						text-align: right;
						width: 100%;
						&:hover {
							background: $teal;
							color: white;
						}
					}
				}

				ul {
					position: relative;
					li {
						display: block;

						&:hover {
							button {
								i.fa-caret-right::before {
									content: "\f0da" !important;
								}
							}
	
							.submenu-wrapper {
								display: none;
							}

							&.active {
								.submenu-wrapper {
									display: block;
									width: 100%;
								}
							}
						}

						&.active {
							.submenu-wrapper {
								display: block;
								width: 100%;
								position: absolute;
								top: 0;
								right: -300px;

								&.wide {
									left: inherit;
									ul {
										li {
											float: none;
											width: 100%;
										}
									}
								}

								.overview {
									border-right: none;
									border-bottom: 1px solid $teal-light;							
									display: block;
									width: 100%;							

									a {
										margin-bottom: 1em;										
									}
								}
								ul {
									display: block;
									width: 100%;

									li {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.internal {
		.menu-wrapper {
			background: $teal;
			padding-top: 0;
			.menu-inner-wrapper {
				padding: 0;
				.menu-container {
					padding-bottom: 0;
				}
			}
		}
	}
}

@media (max-width: $screen-xs) {
	.menu-wrapper {
		.menu-container {
			.logo {
				img {
					max-width: 266px;
				}
			}
			.nav-and-search {
				padding: 0;
				margin-top: 0;
				nav {
					top: 0px;
				}
			}
		}
	}
}