.alert-wrapper {
	background-color: $gold;
	color: black;
	font-weight: 800;
	font-size: .8em;
	padding: 0;
	text-transform: uppercase;
    position: relative;
	top: -1px;
	
	&.emergency {
		background-color: $emergency-orange;
		color: white;
	}

	.alert-container {
		padding: 1em 15px;
	}

	p {
		padding: 0;
		margin: 0;
		margin-top: -4px;

		& > span i {
			position: relative;
			top: 4px;
			margin-right: .5em;
			color: $tan-light;
		}

		button, a {
			color: black;
			display: inline-block;
			font-weight: 800;
			line-height: 1.5em;
			margin-left: 1em;
			margin-top: .25em;
			padding: .25em .5em;
			text-transform: uppercase;
			background: $tan-light;
			box-shadow: $shadow-primary;
			transition: 0.25s all ease;

			i {
				margin-left: .5em;
				color: inherit;
				position: relative;
				top: -1px;
			}

			&:hover {
				text-decoration: none;
				background-color: black;
				color: $gold;
				box-shadow: $shadow-hover;
			}
		}
	}

	.dismissed {
		height: 1em;
		padding: 0;
		transition: all 0.25s ease;

		* {
			display: none !important;
		}
	}

}

@media (max-width: $screen-lg) {
	
}

@media (max-width: $screen-md) {
	

	.alert-wrapper {

		p > span > i {
			display: none;
		}

		.message {
			display: block;
		}

		button, a {
			margin: 0 .5em .5em 0;
			padding: .75em;
			text-align: left;
			width: auto;

			&.pull-right {
				float: none !important;
			}
		}

		.view-all-alerts {
			margin-top: 1em;
		}

	}
}

@media (max-width: $screen-sm) {
	.alert-wrapper {
		.alert-container {
			padding-top: 1.5em;
		}
	}

	.internal {
		.alert-wrapper {
			margin-top: 0;
		}
	}
}
