#alerts-target {
	margin-top: -1px;
}

.alert-wrapper {
	background-color: $gold;
	color: black;
	font-weight: 600;
	font-size: .8em;
	padding: 0;
	position: relative;
	top: -1px;
	
	&.emergency-systemwide, 
	&.emergency-branch {
		background-color: $emergency-banner;
		color: white;

		.message {
			display: flex;
			flex: 1;

			p {
				margin: 0;
				padding: 0 1em;
			}

			div {
				white-space: nowrap;

				i {
					margin-right: .25em;
				}

				&::first-child {
					i {
						color: white;
					}
				}
			}

			button, a {
				color: white;
				text-transform: uppercase;
			}
		}
	}

	.alert-container {
		padding: 1em 15px;
	}

	.message {
		display: flex;
		flex: 1;
		justify-content: space-between;

		p {
			margin: 0;
			padding: 0 1em;
			flex: 1;
			line-height: 2em;
		}

		div {
			white-space: nowrap;

			i {
				margin-right: .25em;
			}

			&:first-child {
				i {
					color: $tan-light;
				}
			}
		}

		button, a {
			color: black;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 2em;
			font-size: .9em;
		}
	}

	.dismissed {
		height: 1em;
		padding: 0;
		transition: all 0.25s ease;

		* {
			display: none !important;
		}
	}

}

@media (max-width: $screen-lg) {
	
}

@media (max-width: $screen-md) {
	

	.alert-wrapper {


		.message {
			display: block;

			div:first-child {
				display: none;
			}

			p {
				padding: 0;
				margin-bottom: 1em;

				button, a {
					margin: 0 .5em .5em 0;
					padding: .25em 1em;
					text-align: left;
					width: auto;
				}

				a {
					padding-left: 0;
				}

				.pull-right {
					float: none !important;
				}
			}
		}

		.view-all-alerts {
			margin-top: 1em;
		}

	}
}

@media (max-width: $screen-sm) {
	.alert-wrapper {
		.alert-container {
			padding-top: 1.5em;
		}
	}

	.internal {
		.alert-wrapper {
			margin-top: 0;
		}
	}
}
