.hero-background {
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	
	&:nth-child(1) {
		background-image: url("/dist/images/hero-image-1.jpg");
	}

	&:nth-child(2) {
		background-image: url("/dist/images/hero-image-2.jpg");
	}

	&:nth-child(3) {
		background-image: url("/dist/images/hero-image-3.jpg");
	}

	&:nth-child(4) {
		background-image: url("/dist/images/hero-image-4.jpg");
	}

	.hero-foreground {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
		background: -moz-linear-gradient(top, rgba(0, 161, 155,1) 0px, rgba(0, 161, 155,0) 60%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0, 161, 155,1) 0px,rgba(0, 161, 155,0) 60%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 161, 155,1) 0px,rgba(0, 161, 155,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a19b', endColorstr='#00a19bff',GradientType=0 ); /* IE6-9 */
		border-bottom: 1em solid $gold;
		height: 500px;
		position: relative;
		top: -1px;
		
		.hero-callout-container {

			.callout {
				background: rgba(0, 0, 0, .75);
				color: white;
				margin-top: 12em;
				padding: 2em;

				h2 { 
					color: white;
					font-size: 2em;
					margin-top: 0;
				}

				a {
					color: $gold;
					font-weight: bold;
				}
			}
		}
	}
}

.internal {
	.hero-background {
		background-position-y: center;

		.hero-foreground {
			background: -moz-linear-gradient(top, rgba(0, 161, 155,1) 0%, rgba(0, 161, 155,0) 200%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0, 161, 155,1) 0%,rgba(0, 161, 155,0) 200%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0, 161, 155,1) 0%,rgba(0, 161, 155,0) 200%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			height: 130px;
		}
	}
}

@media (max-width: $screen-lg) {
	.hero-wrapper {
		.hero-foreground {
			.hero-callout-container {
				.callout {
					margin-top: 15em;
				}				
			}
		}
	}

	.internal {
		.hero-wrapper {
			.hero-background {
				.hero-foreground {
					height: 160px;
				}
			}
		}
	}
}

@media (max-width: $screen-sm) {
	.hero-wrapper {
		.hero-foreground {
			position: relative;
			height: auto;

			.row {
				& > div {
					padding: 0;
					position: static;
				}
			}
			.hero-callout-container {
				.callout {
					border-top: 1px solid $gold;
					height: 100%;
					margin-top: 0;		
				}				
			}
		}
	}

	.internal {
		.hero-wrapper {
			.hero-background {
				.hero-foreground {
					display: none;
				}
			}
		}
	}
}