.events-wrapper {
	border-bottom: 1em solid $gold;
	background-color: $purple-dark;
	background-image: url("/dist/images/book-signing.png");
	background-size: cover;
	background-position-y: center;
	h2 {
		color: white;
		margin: 0;
		padding: 0;
	}
	h4 {
		font-weight: bold;
		margin-bottom: 0;
		color: black;
	}
	time {
		font-weight: bold;
		color: $gray-dark;
	}
	p {
		padding: .5em 0 1em;
		color: black;
	}
	a {
		&:hover {
			color: white;
		}
		&:visited {
			color: white;
		}
		&:active {
			color: white;
		}
		&:link {
			color: white;
		}
	}
	.events {
		padding-top: 2em;
		header {
			position: relative;
			.feed {
				position: relative;
				top: 15px;
				display: block;
				float: right;
				margin-left: 2em;

				&:last-child {
					margin-left: 0;
				}
			}
		}
		.post {
			background: rgba(255, 255, 255, .75);
			margin-top: 2em;
			padding: 2em 1em 1em;
			text-align: center;
			time {
				text-transform: uppercase;
				.date {
					background-color: $red;
					border-radius: 50%;
					color: white;
					height: 80px;
					line-height: 1;
					margin: 0px auto;
					padding-top: 14px;
					width: 80px;
					.month {
						text-align: center;
					}
					.day {
						text-align: center;
						font-size: 2em;
					}
				}
				.time {
					font-size: .8em;
					margin-top: .5em;
					text-align: center;
				}
			}
			footer {
				margin: 0 -1em;
				border-top: 1px dashed $gray-medium;
				padding: 1em;

				a {
					display: block;
					float: left;
					color: $teal-dark;
					font-size: .8em;

					&:last-child {
						float: right;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	.events-wrapper {
		padding: 2em 15px;
		.container {
			.row.flex {
				display: block;
			}
		}
		.events {
			padding-left: 0;
			padding-top: 2em;
			margin-top: 2em;
			background-repeat: repeat-x;
			background-position: top;
		}
	}
}