.flipper-container {

	.flipper-tabs {
		nav {
			li {
				&.active {
					box-shadow: $shadow-white-bottom, $shadow-primary;
				}
				transition: all .25s ease;	
			}
		}

		.flipper-tab {
			&.active {
				box-shadow: $shadow-primary;
			}

			button {
				padding: 6px;
				transition: background-color .25s ease;
				
				&.active {
					background-color: $teal;
				}
			}
		}
	}
}