.mobile-nav-callout {
    padding: 8px 16px;

    .title {
        font-family: TTRoundsCondensed-Bold;
        display: block;
        font-size: inherit;
        line-height: 2em;
        text-transform: uppercase;
    }

    i,
    h2 {
        color: white;
    }

    .callout-icon {
        padding: 0 !important;
        padding-right: 20px !important;
        margin-left: 0px !important;
        margin-right: 15px !important;
    }

    .nav-icon {
        padding: 0 !important;
        margin-left: 5px !important;
    }
}