.related-topics-widget {
    background: white;
    margin-top: 1em auto;
    width: 100% !important;

    h3 {
        border-bottom: 4px solid $red;
        font-size: 1em;
        padding: .8em 1em;
        margin: 0;
    }

    &.hidden {
        display: none !important;
    }
    ul {
        list-style-type: none;
        padding: 0;

        li {
            border-bottom: 1px solid $tan-light;
            font-weight: 700;

            &:last-child {
                border: none;
                margin-bottom: 0;
            }
            
            a {
                display: block;
                font-size: .8em;
                padding: .75em 2em;
                position: relative;

                &:before {
                    content: "\f054";
                    font-family: FontAwesome;
                    font-size: .8em;
                    padding-right: 1em;
                }
            }
        }
    }
}