.responsive-video {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	
	iframe {
	  border-radius: 20px;
	  border: 10px solid #ebebeb;
	  
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
  }