.search-results-list {
	list-style: none;
	padding: 0;
	margin: 0;

	.search-result {
		margin: .5em 0;
		padding: 1em;
		background: white;

		&:hover {
			.icon {
				font-size:1.2em;
			}
		}		

		.icon {
			color: $teal;
			transition: .5s all ease;
		}
		
		.details {
			h3 {
				margin-top: 0;
			}

			p {
				margin-bottom: .5em;
			}

			.summary {
				font-size: .8em;				
			}
		}

		.buttons {
			button {
				margin-bottom: .25em;
				width: 100%;
			}
		}
	}
}