.section-title-wrapper {
	/*border-bottom: 1px solid $teal-light;*/
	color: $teal;
	margin-top: .6em;
	border-bottom: 1px solid $teal;
	padding-bottom: 1em;
	margin-bottom: 1em;
	
	.section-title {
		color: $teal-light;
		font-size: 2em;
	}

	span {
		display: inline-block;
		margin-left: 2em;
	}

	.actions {
		text-transform: uppercase;
		font-size: .75em;
		font-weight: bold;
		position: absolute;
		top: 32px;
		right: 0;

		i {
			font-size: 1.5em;
			margin-right: .25em;
		}
	}
}