.internal {
	.secondary-nav {
		border-top: 4px solid $tan;
		margin-bottom: 1em;
		margin-top: 1em;

		nav {
			background-color: white;
			ul {
				li {
					display: list-item;
					position: relative;				

					a {
						border-bottom: 1px solid $tan-light;
						display: block;
						padding: .8em 1em;
						line-height: 1.5em;	
						
						&.active {
							background-color: $teal;
							font-weight: bold; 
							color: white;
							
							&:after {
								border-top: 24px solid transparent;
								border-bottom: 24px solid transparent;
								border-left: .5em solid #00a19b;
								content: "";
								position: absolute;
								right: -.5em;
								height: 0;
								width: 0;
								top: 0;	
							}
						}	
					}

					ul {
						box-shadow: $shadow-top-bottom-tan;

						li {
							font-size: .8em;

							&:first-child { 
								a {
									padding-top: .75em;
								}
							}

							&:last-child {
								a {
									padding-bottom: .75em;
								}
							}

							a {
								padding-left: 2em;

								&:before {
									content: "\f054";
									font-family: "FontAwesome";
									font-size: .8em;
									padding-right: 1em;
								}

								&.active:after {
									border-top: 20px solid transparent;
									border-bottom: 20px solid transparent;
								}
								
							}
						}
					}
				}
			}	
		}
	}
}


@media (max-width: $screen-md) {
	.container {
		.secondary-nav {
			display: none;
		}
	}

	.container {
		.flex, 
		.flex-lg, 
		.flex-md, 
		.flex-sm,
		.flex-xs {
			.secondary-nav {
				display: block;
			}
		}
	}
}