.slide-down-nav-panels {
	height: 0;
}
.slide-down-nav-section {
    display: none;
	margin: 30px auto;
	
    &.active {
        display: block;
    }
}
.slide-down-nav-item {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		transition: all .4s linear;
		bottom: 20px;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid $gray;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 1;
	}
	
	&.active::after {
		bottom: -20px;
	}
}