$number-font-color: white;
$number-background-color: maroon;
$number-border-color: yellow;
$divider-color: blue;

.step-list-container {
	position: relative;

	.step-list-divider {
		position: absolute;
		top: 57px;
		left: 50px;

		background: $divider-color;
		content: "";
		height: 80%;
		z-index: 8;
	}

	.step-list {
		padding: 20px;
		margin: 0;
		list-style-type: none;
		counter-reset: section;

		li {
			display: flex;
			align-items: end;
			margin-bottom: 45px;
			position: relative;
			z-index: 9;

			.step-list-text {
				display: inline-block;
				max-width: 75%;
				margin: 0;
				padding: 0;
                position: relative;
                
                
            }
            
            &:last-child {
                margin-bottom: 20px;
            }

			&:before {
				background: $number-background-color;
				border: 2px solid $number-border-color;
				border-radius: 50%;
				
				color: $number-font-color;

				counter-increment: section;
				content: counter(section);
				
				display: inline-block;

				font-size: 1.5em;
				font-weight: 600;

				padding: 14px 21px;
				margin-right: 30px;
			}

			&:after {
				display: block;
				position: absolute;
				bottom: -35px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				font-family: FontAwesome;
				font-size: 1.75em;
				content: '\f063';
				color: lightgray;
			}
		}
	}

	.step-list li:last-child:after {
		content: '';
	}
}

.step-list-bcpl {
	.step-list-divider {
		background: transparent;
	}
	.step-list li:before {
		color: white;
		background: $red;
		border-color: $red;
	}
}

@media screen and (max-width: 600px) {
	.step-list-container .step-list {
		padding: 0;
	}
	.step-list-bcpl .step-list-divider {
		top: 103px;
	}
}
