.tabs {
	nav {
		ul {
			li {
				color: $teal;
				font-size: 1em;
				font-weight: bold;
				padding: .5em 1em;
				text-transform: uppercase;
				cursor: pointer;
				
				&.active {
					background-color: white;
					box-shadow: $shadow-white-bottom, $shadow-primary;
				}
			}
		}
	}

	.tab {
		background-color: white;
		display: none;			
		padding: 1em;

		button {
			padding: 0;

			img {
				height: 90px;
				width: 70px;
			}
		}	

		&.active {
			display: block;
			box-shadow: $shadow-primary;
		}

		p {
			margin: 10px 0 0;
			font-size: .8em;
			text-transform: uppercase;
		} 
	}
}


@media (max-width: $screen-md) {
	.tabs {
		margin: 2em 0 0;
	}
}

@media (max-width: $screen-sm) {
	.tabs {
		.tab {
			&.active {
				display: block;
			}
		}

		nav {
			ul {
				position: relative;
				height: 37px;

				li {
					display: block;
					position: absolute;
					background: white;
					width: 100%;

					&.active {
						z-index: 100;
						box-shadow: $shadow-white-bottom, $shadow-primary;

						&:after {
							font-family: 'FontAwesome';
							color: $teal;
							content: "\f0c9";
							position: absolute;
							right: 1em;
							top: .5em;
							z-index: 200;
						}
					}
				}

				
				&.open {
					height: auto;

					li {
						position: static;
					}		
				}
			}
		}
	}

	.no-flex {
		.tabs {
			margin: 2em 0 0;
	
			.tab {
				&.active {
					display: block;
				}
			}
		}	
	}
}

@media (max-width: $screen-xs) {
	.tabs {
		.tab {
			&.active {
				display: block;
				
				button {
					display: inline-block;
					margin: .65em;
				}
			}
		}
	}
}