.tags {
	font-size: .8em;
	font-style: italic;
	margin: .75em 0;
	
	.tag-list {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 0 .25em;

			button {
				background: $gray-light;
				border-radius: 1em;
				color: white;
				padding: .25em .75em;

				&.active {
					background: $red;
					color: white;
				}
			}
		}			
	}
}
