.tags {
	font-size: .8em;
	font-style: italic;

	.tag-list {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:after {
				content: ","
			}

			&:last-child {
				&:after {
					content: ""
				}
			}
		}			
	}
}
