.hero-wrapper
	.hero-foreground
		.container
			.row
				.col-md-6.col-lg-4
					.callout
						h2 Summer @ Your Library
						p Learn about all the activities happening this summer with interactive fun and entertainment for the entire family!
						a(href="#") Learn More
