.alert-wrapper
	.container.alert-container
		.row
			.col-md-10
				p
					i.fa.fa-exclamation-circle.fa-2x
					| The Randallstown Branch is currently closed for renovations.
					a.view-all-alerts(href="#") View all alerts
						i.fa.fa-caret-right
			.col-md-2
				button#alert-box-dismiss.pull-right Dismiss
					i.fa.fa-times
