.alert-wrapper
	.container
		.row
			.col-md-9
				p
					i.fa.fa-exclamation-circle.fa-2x
					| The Randallstown Branch is currently closed for renovations.
					a.view-all-alerts(href="#") View all alerts
						i.fa.fa-caret-right
			.col-md-3
				a.pull-right(role="button") Dismiss
					i.fa.fa-times
