.menu-wrapper
	.hero-foreground
		.menu-padding
			.container
				.row
					.col-md-4
						a(href="#")
							img(src="/dist/images/logo.png")
					.col-md-8
						button.fa.fa-search.pull-right
						nav.pull-right
							ul
								li
									a(href="#") Books and More
										i.fa.fa-caret-right
								li
									a(href="#") Events and Programs
										i.fa.fa-caret-right
								li
									a(href="#") Services
										i.fa.fa-caret-right
								li
									a(href="#") About Us
										i.fa.fa-caret-right
								li
									a(href="#") Youth
										i.fa.fa-caret-right