.menu-wrapper
	.hero-foreground
		.container.menu-padding
			.row
				.col-lg-4.col-md-12
					a(href="#")
						img(src="/dist/images/logo.png")
				.col-lg-8.col-md-12.nav-and-search
					button#activate-search-button.pull-right
						//-i.fa.fa-times
						i.fa.fa-search(aria-hidden="true")
						.sr-only Search

					nav
						ul
							li
								a(href="#") Books and More
									i.fa.fa-caret-right
							li
								a(href="#") Events and Programs
									i.fa.fa-caret-right
							li
								a(href="#") Services
									i.fa.fa-caret-right
							li
								a(href="#") About Us
									i.fa.fa-caret-right
							li
								a(href="#") Youth
									i.fa.fa-caret-right
				#search-box
					input(placeholder="Search the library")
					button#search-button
						i.fa.fa-search
			.row
				.col-md-4
					.callout
						h2 Summer @ Your Library
						p Learn about all the activities happening this summer with interactive fun and entertainment for the entire family!
						a(href="#") Learn More
				.col-md-8