.hero-wrapper
	.hero-background
		.hero-foreground
			.container.hero-callout-container
				.row
					.col-md-6.col-lg-4
						.callout
							h2 Summer @ Your Library
							p Learn about all the activities happening this summer with interactive fun and entertainment for the entire family!
							a(href="#") Learn More
	.hero-background
		.hero-foreground
			.container.hero-callout-container
				.row
					.col-md-6.col-lg-4
						.callout
							h2 World Wildlife Mission Adventure
							p Explore different live animals from around the globe.
							a(href="#") Learn More
	.hero-background
		.hero-foreground
			.container.hero-callout-container
				.row
					.col-md-6.col-lg-4
						.callout
							h2 I ain't afraid of no ghosts.
							p Learn about all the activities happening this summer with interactive fun and entertainment for the entire family!
							a(href="#") Learn More
	.hero-background
		.hero-foreground
			.container.hero-callout-container
				.row
					.col-md-6.col-lg-4
						.callout
							h2 Rocky ...road?
							p Learn about all the activities happening this summer with interactive fun and entertainment for the entire family!
							a(href="#") Learn More

