@import "vendor/bootstrap/bootstrap";
@import "vendor/flatpickr/flatpickr-adjustments";

@import "partials/core/fonts";
@import "partials/core/colors-high-contrast";
@import "partials/core/flexbox";
@import "partials/core/shadows";

@import "partials/units/typography";
@import "partials/units/navigation";
@import "partials/units/button";
@import "partials/units/links";
@import "partials/units/table";
@import "partials/units/rounds";
@import "partials/units/modal";
@import "partials/units/icons";
@import "partials/units/expandos";
@import "partials/units/lists";
@import "partials/units/images";

@import "partials/features/address";
@import "partials/features/page-callout";
@import "partials/features/featured-section";
@import "partials/features/featured-section-cta";
@import "partials/features/helpers";
@import "partials/features/body";
@import "partials/features/card";
@import "partials/features/branches";
@import "partials/features/databases";
@import "partials/features/content";
@import "partials/features/filters";
@import "partials/features/tags";
@import "partials/features/search-results";
@import "partials/features/secondary-nav";
@import "partials/features/subnav";
@import "partials/features/section-title";
@import "partials/features/breadcrumbs";
@import "partials/features/header-subnav";
@import "partials/features/header-main-menu";
@import "partials/features/header-alert";
@import "partials/features/tabs";
@import "partials/features/footer-follow";
@import "partials/features/footer-callouts";
@import "partials/features/footer-copyright";
@import "partials/features/events";
@import "partials/features/window-shade";
@import "partials/features/loading-spinners";
@import "partials/features/scroll-to-top";
@import "partials/features/forms";
@import "partials/features/accordion";
@import "partials/features/step-list";
@import "partials/features/responsive-video";
@import "partials/features/content-banner";
@import "partials/features/slide-down-nav";
@import "partials/features/drawer";
@import "partials/features/book-carousel";
@import "partials/features/icon-bubble-list";
@import "partials/features/card-blog";
@import "partials/features/blog-post";

$hi-dark-green: #084443;
$hi-half-dark-green: #045d5a;
$hi-green: #196360;
$hi-burgundy: #7a0000;
$hi-gray: #565656;
$hi-light-gray: #ccc;

.blog-wrapper  {
	time {
		color: $hi-gray !important;
	}

	h2 {
		color: $hi-dark-green !important;
	}
}

footer {
	.callouts-wrapper {
		background-color: $hi-dark-green;
		
		.row .callout {
			border-right-color: $hi-green;
		}
	
		p {
			color: white;
		}
	}

	.copyright-wrapper { 
		color: $hi-light-gray;

		p {
			color: white;
		}
	}

	.follow-wrapper .branding {
		color: white;
	}


	.copyright-wrapper nav ul li a {
		color: $hi-light-gray;
	}
}

.hero-foreground p {
	color: white;
}

.menu-wrapper #search-box .search-button.active, .menu-wrapper #search-box .search-button:hover {
	background-color: white;
	color: $hi-dark-green;
}

.subnav-wrapper p {
	color: white;
}

.internal .secondary-nav nav ul li a.active:after {
	border-left-color: $hi-half-dark-green;
}

.branch-photo {
	background: $hi-dark-green !important;
	background-image: none !important;
}

.internal {
	.menu-wrapper .menu-inner-wrapper {
		background: linear-gradient(180deg,$hi-dark-green 0,rgba(0,161,155,0) 200%);
		background: -webkit-linear-gradient(top,$hi-dark-green,rgba(0,161,155,0) 200%);
		background: -moz-linear-gradient(top,$hi-dark-green 0,rgba(0,161,155,0) 200%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$hi-dark-green",endColorstr="$hi-dark-green",GradientType=0);
	}
	
	 .menu-wrapper {
		background-color: $hi-dark-green;
	}
}

.main-header, .menu-wrapper {
	background: $hi-dark-green;
}

.hero-background .hero-foreground {
	background: linear-gradient(180deg,$hi-dark-green 0,rgba(0,161,155,0) 200%) !important;
	background: -webkit-linear-gradient(top,$hi-dark-green,rgba(0,161,155,0) 200%) !important;
	background: -moz-linear-gradient(top,$hi-dark-green 0,rgba(0,161,155,0) 200%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$hi-dark-green",endColorstr="$hi-dark-green",GradientType=0) !important;
}

.registration-required {
	color: $hi-burgundy;
}


.hero-wrapper .slick-dots { 
	color: white;

	li button:before {
		opacity: 1;
		color: white;
	}

	li.slick-active button:before {
		color: black;
	}	
}

.alert-wrapper {
	top: 0;
}
