.alert-wrapper {
	background-color: $gold;
	color: black;
	font-weight: bold;
	font-size: .8em;
	line-height: 4em;

	p {
		text-transform: uppercase;
		padding: 0;
		margin: 0;

		a {
			display: inline-block;
			margin-left: 1em;

			i {
				margin-left: .5em;
				color: inherit;
			}
		}

		i {
			margin-right: 1em;
			color: white;
		}
	}

	button {
		color: black;
		text-transform: uppercase;
				
		i {
			margin-left: .5em;
		}
	}
}