.hero-wrapper {
	background-image: url("/dist/images/hero-image-1.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;

	.hero-foreground {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
		background: -moz-linear-gradient(top, rgba(0, 161, 155,1) 0%, rgba(0, 161, 155,0) 60%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0, 161, 155,1) 0%,rgba(0, 161, 155,0) 60%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 161, 155,1) 0%,rgba(0, 161, 155,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a19b', endColorstr='#00a19bff',GradientType=0 ); /* IE6-9 */
		border-bottom: 1px solid $gold;
		height: 500px;

		.callout {
			background: rgba(0, 0, 0, .75);
			color: white;
			margin-top: 10em;
			padding: 2em;

			h2 { 
				color: white;
				font-size: 2em;
				margin-top: 0;
			}

			a {
				color: $gold;
				font-weight: bold;
			}
		}
	}
}

@media (max-width: $screen-lg) {
	.hero-wrapper {
		.hero-foreground {
			.callout {
				margin-top: 15em;
			}
		}
	}
}

@media (max-width: $screen-sm) {
	.hero-wrapper {
		.hero-foreground {
			position: relative;
			height: auto;

			.row {
				& > div {
					padding: 0;
					position: static;
				}
			}
			.callout {
				margin-top: 0;		
				border-top: 1px solid $gold;
			}
		}
	}
}