.alert-wrapper {
	background-color: $gold;
	color: black;
	font-weight: 800;
	font-size: .8em;
	padding: 0;
	text-transform: uppercase;

	.alert-container {
		padding: 1em 15px;
	}

	p {
		padding: 0;
		margin: 0;

		& > i {
			position: relative;
			top: 4px;
			margin-right: .5em;
			color: white;
		}

	}

	button, a {
		border: 1px solid black;
		color: black;
		display: inline-block;
		line-height: 1.5em;
		margin-left: 1em;
		padding: .25em .5em;
		text-transform: uppercase;
		transition: all 0.25s ease;

		i {
			margin-left: .5em;
			color: inherit;
				position: relative;
				top: -1px;
		}

		&:hover {
			text-decoration: none;
			background-color: $teal;
			color: white;
		}
	}

	.dismissed {
		height: 0;
		padding: 0;
		transition: all 0.25s ease;

		* {
			display: none !important;
		}
	}

}

@media (max-width: $screen-md) {
	.alert-wrapper {

		.pull-right {
			float: none !important;
		}

		p > i {
			display: none;
		}

		button, a {
			display: block;
			clear: both;
			margin: 0;
			margin-bottom: .5em;
			padding: .75em;
			text-align: left;
			width: 50%;
		}

		.view-all-alerts {
			margin-top: 1em;
		}

	}
}

@media (max-width: $screen-xs) {
	.alert-wrapper {
		button, a {
			width: 100%;
		}
	}
}