.menu-wrapper {
	background: $teal;
	color: white;

	button {
		font-size: 1.5em;
	}


	.nav-and-search {
		#activate-search-button {
			&.active {
				background-color: rgba(0, 0, 0, .5);
			}
		}

		#hamburger-menu-button {
			display: none;			
		}

		nav {
			float: right;
			position: relative;
			top: 7px;

			ul {
				li {
					margin-right: 1.5em;

					a {
						color: white;
						font-family: TTRoundsCondensed-Bold;
						line-height: 2em;
						text-transform: uppercase;

						&:hover {
							text-decoration: underline;
						}

						i {
							margin-left: .5em;
						}
					}								
				}
			}
		}		
	}


	#search-box {
		background-color: rgba(0, 0, 0, .5);
		display: none;
		padding: 1em;
		position: absolute;
		top: 58px;
		right: 0;
		width: 100%;

		input {
			font-size: 1.2em;
			font-weight: bold;
			padding: .25em .5em;
			border: none;
		}

		button {
			padding: .5em .25em .5em .5em;
			margin-left: 0.5em;		
		}

		&.active { 
			display: block;
		}
	}
}

@media (max-width: $screen-md-max) {
	.menu-wrapper {
		.nav-and-search {
			nav {
				float: left;

				ul {
					li {
						margin-right: 2em;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	.menu-wrapper {
		.nav-and-search {
			nav {
				ul {
					li {
						margin-right: 1.5em;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm) {
	.menu-wrapper {
		.nav-and-search {
			margin: 0 -15px;

			button {
				font-size: 2.5em;
				padding: .25em .5em;
				margin-right: .25em;
				background-color: $red;

				&.active {
					background-color: $gray-dark;
				}				
			}

			#hamburger-menu-button { 
				display: inline-block; 
			}

			nav {
				background-color: $gray-dark;
				width: 100%;
				top: 0;
				
				ul {
					li {
						display: block;

						a {
							display: block;
							padding: .5em 1em;

							i {
								float: right;
								position: relative;
								top: 7px;								
							}
						}
					}
				}
			}
		}
	}
}