.menu-wrapper {
	background: $teal;
	color: white;

	button {
		position: relative;
		top: 4px;
		font-size: 1.5em;
	}

	nav {
		position: relative;
		top: 7px;

		ul {
			li {
				margin-right: 1.5em;

				a {
					color: white;
					font-family: TTRoundsCondensed-Bold;
					line-height: 2em;
					text-transform: uppercase;

					&:hover {
						text-decoration: underline;
					}

					i {
						margin-left: .5em;
					}
				}								
			}
		}
	}
}