doctype html

html

	head
		
		include includes/head.pug

	body

		.container-fluid 
			
			include includes/header-home.pug

			section.feature-wrapper
				.container
					.row 
						.col-md-12
							h2 Features
							.row
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More

			section.blog-events-wrapper
				.container
					.row.flex
						.col-md-6.col-sm-12.blog-posts
							header.row
								.col-sm-4
									h2 Blog
								.col-sm-8
									a.solo.feed(href="#") 
										i.fa.fa-rss
										| Subscribe to Blog
							.row
								.col-md-12.post
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Learn More
							.row
								.col-md-12.post
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Learn More
							.row
								.col-md-12.post
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Learn More
							.row
								.col-md-12.post
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View the Blog
						.col-md-6.col-sm-12.events
							header.row
								.col-sm-4
									h2 Events
								.col-sm-8
									a.solo.feed(href="#")
										i.fa.fa-rss
										| Subscribe to Events
							.row.post
								.col-xs-4
									time(datetime="5-30 10:00-05:00")
										.date 
											.month May 
											.day 30
										.time 10 a.m.
								.col-xs-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-xs-4
									time(datetime="6-1 11:00-05:00")
										.date 
											.month Jun 
											.day 1
										.time 11 a.m.
								.col-xs-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-xs-4
									time(datetime="6-2 12:00-05:00")
										.date 
											.month Jun 
											.day 2
										.time 12 p.m.
								.col-xs-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-xs-4
									time(datetime="6-3 13:00-05:00")
										.date 
											.month Jun 
											.day 3
										.time 1 p.m.
								.col-xs-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-xs-4
									time(datetime="6-4 14:00-05:00")
										.date 
											.month Jun 
											.day 4
										.time 2 p.m.
								.col-xs-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-xs-12
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View all Events
			
			section.recommended-titles-wrapper
				.container
					.row
						.col-md-6
							h2 Recommended Titles
							.row
								.col-md-4
									img(src="/dist/images/grumpy-cat.jpg" height="250" width="180")
								.col-md-8
									h3 Book Title
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Read More
						.col-md-6
							.tabs
								nav
									ul(role="tablist")
										li#tab-1.active(role="tab" aria-controls="tab-1" aria-selected="true" tabindex="0") Recommended
										li#tab-2(role="tab" aria-controls="tab-2" aria-selected="false" tabindex="0") New Titles
								#tab-1.tab.active(role="tabpanel" aria-labelledby="tab-1" aria-hidden="false")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
								#tab-2.tab(role="tabpanel" aria-labelledby="tab-2" aria-hidden="true")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")
									button
										img(src="/dist/images/grumpy-cat.jpg")

			include includes/footer.pug