doctype html

html

	head
		
		include includes/head.pug

	body

		.container-fluid 

			include includes/header.pug

			section.feature-wrapper
				.container
					.row 
						.col-md-12
							h2 Features
							.row
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More
								.col-md-3
									.feature
										img(src="/dist/images/grumpy-cat.jpg" width="200")
										p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et.
										a.solo(href="#")
											i.fa.fa-play-circle 
											| Learn More

			section.blog-events-wrapper
				.container
					.row
						.col-md-6.blog-posts
							header.row
								.col-md-4
									h2 Blog
								.col-md-8
									a.solo.feed(href="#") 
										i.fa.fa-rss
										| Subscribe to Blog
							.row
								.col-md-12.post
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Learn More
							.row
								.col-md-12.post
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Learn More
							.row
								.col-md-12.post
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Learn More
							.row
								.col-md-12.post
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View the Blog
						.col-md-6.events
							header.row
								.col-md-4
									h2 Events
								.col-md-8
									a.solo.feed(href="#")
										i.fa.fa-rss
										| Subscribe to Events
							.row.post
								.col-md-4
									time(datetime="5-30 10:00-05:00")
										.date 
											.month May 
											.day 30
										.time 10 a.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-md-4
									time(datetime="6-1 11:00-05:00")
										.date 
											.month Jun 
											.day 1
										.time 11 a.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-md-4
									time(datetime="6-2 12:00-05:00")
										.date 
											.month Jun 
											.day 2
										.time 12 p.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-md-4
									time(datetime="6-3 13:00-05:00")
										.date 
											.month Jun 
											.day 3
										.time 1 p.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-md-4
									time(datetime="6-4 14:00-05:00")
										.date 
											.month Jun 
											.day 4
										.time 2 p.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View Event Details
							.row.post
								.col-md-12
									a.solo(href="#")
										i.fa.fa-play-circle 
										| View all Events
			
			section.recommended-titles-wrapper
				.container
					.row
						.col-md-6
							h2 Recommended Titles
							.row
								.col-md-4
									img(src="/dist/images/grumpy-cat.jpg" height="250" width="150")
								.col-md-8
									h3 Book Title
										time(datetime="5-28") MAY 28
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a.solo(href="#")
										i.fa.fa-play-circle 
										| Read More
						.col-md-6
							.tabs
								.tab
									.tab-title Recommended
									.tab-content
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
								.tab
									.tab-title New Titles
									.tab-content
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")

			include includes/footer.pug