doctype html

html

	head
		
		include includes/head.pug

	body

		.container-fluid 

			include includes/header.pug

			.feature-wrapper
				.container
					.row 
						.col-md-12
							h2 Features
							.row
								.col-md-3
									img(src="/dist/images/grumpy-cat.jpg" width="250")
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
								.col-md-3
									img(src="/dist/images/grumpy-cat.jpg" width="250")
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
								.col-md-3
									img(src="/dist/images/grumpy-cat.jpg" width="250")
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
								.col-md-3
									img(src="/dist/images/grumpy-cat.jpg" width="250")
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
			.blog-events-wrapper
				.container
					.row
						.col-md-6
							.row
								.col-md-4
									h2 Blog
								.col-md-8
									a(href="#") 
										i.fa.fa-rss
										| Subscribe to Blog
							.row
								.col-md-12
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
							.row
								.col-md-12
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
							.row
								.col-md-12
									h3 Blog Post Title
									time(datetime="5-30") MAY 30
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Learn More
							.row
								.col-md-12
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| View the Blog
						.col-md-6
							.row
								.col-md-4
									h2 Events
								.col-md-8
									a(href="#")
										i.fa.fa-rss
										| Subscribe to Events
							.row
								.col-md-4
									time(datetime="5-30 10:00-05:00")
										.date MAY 30
										.time 10 a.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| View Event Details
							.row
								.col-md-4
									time(datetime="6-1 11:00-05:00")
										.date JUN 1
										.time 11 a.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| View Event Details
							.row
								.col-md-4
									time(datetime="6-2 12:00-05:00")
										.date JUN 2
										.time 12 p.m.
								.col-md-8
									h3 Event Title
									p Event Branch
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| View Event Details
							.row
								.col-md-12
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| View all Events
			
			.recommended-titles-wrapper
				.container
					.row
						.col-md-6
							h2 Recommended Titles
							.row
								.col-md-4
									img(src="/dist/images/grumpy-cat.jpg" height="250" width="150")
								.col-md-8
									h3 Book Title
										time(datetime="5-28") MAY 28
									p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis.
									a(href="#")
										i.fa.fa-chevron-circle-right 
										| Read More
						.col-md-6
							.tabs
								.tab
									.tab-title Recommended
									.tab-content
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
								.tab
									.tab-title New Titles
									.tab-content
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")
										a(href="#")
											img(src="/dist/images/grumpy-cat.jpg" height="80" width="60")

			include includes/footer.pug