doctype html

html

	head
		
		include includes/head.pug

	body

		.container-fluid.internal 

			include includes/header-internal.pug

			.container

				header.row

					.col-lg-12

						.row

							.col-sm-12

								.section-title-wrapper

									.row.flex

										.col-sm-9.section-title.branding Services

										.col-sm-3.actions.flex.flex-align-end-end
											
											span.print 
												i.fa.fa-print
												| Print 

											span.share 
												i.fa.fa-share-alt-square
												| Share

						.row

							.col-sm-12

								.breadcrumbs-wrapper

									nav 
										ul
											li
												a(href="/")
													i.fa.fa-home
											li
												a(href="#") Services
											li
												a(href="#") Meeting Rooms

				main.row

					.col-md-3
						.secondary-nav
							nav
								ul
									li 
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item
									li.active
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item
									li 
										a(href="#") Navigation Item

					.col-md-9
						.main-content

							.content-banner
								img(src="/dist/images/grumpy-cat.jpg" height="150" width="100%")

							h1 Heading 1

							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
								| been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
								| galley of type and scrambled it to make a type specimen book.

							h2 Heading 2

							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
								| been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
								| galley of type and scrambled it to make a type specimen book.

							h3 Heading 3

							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
								| been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
								| galley of type and scrambled it to make a type specimen book.

							blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry.

							p Lorem Ipsum is simply dummy text of the <a href="#">printing and typesetting</a> industry. Lorem Ipsum has 
								| been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
								| galley of type and scrambled it to make a type specimen book.

							ul
								li This is a list item
									ul
										li This is a list item
										li This is a list item
								li This is a list item
								li This is a list item
								li This is a list item

							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
								| been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
								| galley of type and scrambled it to make a type specimen book.

							table
								thead
									tr
										th One
										th Two
										th Three
										th Four
										th Five
								tbody
									tr
										td One
										td Two
										td Three
										td Four
										td Five
									tr
										td One
										td Two
										td Three
										td Four
										td Five
									tr
										td One
										td Two
										td Three
										td Four
										td Five
									tr
										td One
										td Two
										td Three
										td Four
										td Five
									tr
										td One
										td Two
										td Three
										td Four
										td Five
								
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
								| been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
								| galley of type and scrambled it to make a type specimen book.

			include includes/footer.pug