doctype html

html

	head
		
		include includes/head.pug
		script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")

		script(src="/dist/js/page-specific/filter.min.js")
	body

		.container-fluid.internal 

			include includes/header-internal.pug

			.container

				header.row

					.col-lg-12

						.row

							.col-sm-12

								.section-title-wrapper

									.row.flex

										.col-sm-9
										
											.breadcrumbs-wrapper
												nav 
													ul
														li
															a(href="/")
																i.fa.fa-home
														li
															a(href="#") Services
														li
															a(href="#") Meeting Rooms

										.col-sm-3.actions.flex.flex-align-end-end
											
											span.print 
												i.fa.fa-print
												| Print 

											span.share 
												i.fa.fa-share-alt-square
												| Share
								

				main.row
					.col-md-3
						.filters
							h4 Find a Branch Nearby
							
							div
								input.form-control(type="text" placeholder="Enter your ZIP code")
							
							h4.amenities Branch Amenities

							script(id="amenities-template" type="text/x-handlebars-template")
								| {{#each amenities}}
								label
									input(type="checkbox") 
									| {{this}}
								| {{/each}}
							
							#amenities
					.col-md-9
						.filter-controls
							.row
								.col-sm-6
									.button-group-label Sort by name:
									.control.btn-group 
										button.btn.btn-primary Ascending
										button.btn.btn-default Descending
								.col-sm-6
									.button-group-label View:
									.control.btn-group 
										button.btn.btn-default List
										button.btn.btn-primary Grid
							.row
								.col-sm-12.tags
									.button-group-label Filters:
									.control
										button.btn.btn-default Filter
											i.fa.fa-times
										button.btn.btn-default Filter Filter
											i.fa.fa-times
										button.btn.btn-default Filter
											i.fa.fa-times
										button.btn.btn-default Filter Filter Filter
											i.fa.fa-times
									
						.cards.grid
							script(id="branches-template" type="text/x-handlebars-template")
								| {{#each branch}}
								a.card.grid-item(href="#")
									img(src="/dist/images/grumpy-cat.jpg")
									p {{name}} 
								| {{/each}}	
							#branches

			include includes/footer.pug