doctype html

html

	head
		
		include includes/head.pug

	body

		.container-fluid.internal

			include includes/header-internal.pug

			.container

				.row

					.col-md-12

						h1 Services

						.row

							.col-md-3

								.subnav

									ul

										li.header Section Overview
										li
											a(href="#") Navigation Item
										li
											a(href="#") Navigation Item
										li
											a(href="#") Navigation Item
										li
											a(href="#") Navigation Item
										li
											a(href="#") Navigation Item
										li
											a(href="#") Navigation Item
										li
											a(href="#") Navigation Item

							.col-md-9

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name

								a.card
									img(src="/dist/images/grumpy-cat.jpg")
									p Service Name
					
			include includes/footer.pug