footer
	.follow-wrapper
		.container
			.row
				.col-md-6.col-sm-12
					p.branding Follow The Baltimore County Public Library
				.col-md-6.col-sm-12
					nav.social
						ul
							li
								a(href="#")
									i.fa.fa-facebook
							li
								a(href="#")
									i.fa.fa-twitter
							li
								a(href="#")
									i.fa.fa-tumblr
							li
								a(href="#")
									i.fa.fa-youtube
							li
								a(href="#")
									i.fa.fa-flickr
							li
								a(href="#")
									i.fa.fa-instagram
	.callouts-wrapper
		.container
			.row
				.col-md-3.col-sm-12.callout
					a.logo(href="#")
							img(src="/dist/images/logo.png" width="160")
					address
						strong Administrative Offices <br />
						| 320 York Road <br />
						| Towson MD, 21204
					div 410-887-6100
					a.solo(href="#")
						i.fa.fa-chevron-circle-right 
						| Directions
				.col-md-3.col-sm-12.callout
					h4 Got a Question?
					p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis. 
					a.solo(href="#")
						i.fa.fa-chevron-circle-right 
						| Ask a Question
				.col-md-3.col-sm-12.callout
					h4 Get a Library Card
					p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis. 
					a.solo(href="#")
						i.fa.fa-chevron-circle-right 
						| Register Now
				.col-md-3.col-sm-12.callout
					h4 Work for Baltimore County Public Library
					p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis. 
					a.solo(href="#")
						i.fa.fa-chevron-circle-right 
						| Search Jobs
	.copyright-wrapper
		.container
			.row
				.col-md-6
					p All Contents &copy; 2017 Baltimore County Public Library. All Rights Reserved.
				.col-md-6
					nav.pull-right
						ul
							li
								a(href="#") Privacy Policy
							li
								a(href="#") User Terms
							li
								a(href="#") Accessibility
						ul
							li
								a(href="#") Translate
							li.contraster
								span.toggle-text Adjust Contrast
								label.switch
									input(id="contrastButton" type="checkbox")
									.slider.round