footer
	.follow-wrapper
		.container
			.row
				.col-md-6
					p Follow The Baltimore County Public Library
				.col-md-6
					nav
						ul
							li
								a.fa.fa-facebook
							li
								a.fa.fa-twitter
							li
								a.fa.fa-tumblr
							li
								a.fa.fa-youtube
							li
								a.fa.fa-flickr
							li
								a.fa.fa-instagram
	.callouts-wrapper
		.container
			.row
				.col-md-3
					div 
						a(href="#") [logo]
					address
						strong Administrative Offices <br />
						| 320 York Road <br />
						| Towson MD, 21204
					div 410.887.6100
					a(href="#")
						i.fa.fa-chevron-circle-right 
						| Directions
				.col-md-3
					h4 Got a Question?
					p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis. 
					a(href="#")
						i.fa.fa-chevron-circle-right 
						| Ask a Question
				.col-md-3
					h4 Get a Library Card
					p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis. 
					a(href="#")
						i.fa.fa-chevron-circle-right 
						| Register Now
				.col-md-3
					h4 Work for Baltimore County Public Library
					p Nunc lacinia ullamcorper purus, nec efficitur erat ultrices et. Proin consectetur vulputate diam, in hendrerit ligula fermentum quis. 
					a(href="#")
						i.fa.fa-chevron-circle-right 
						| Search Jobs
	.copyright-wrapper
		.container
			.row
				.col-md-8
					p All Contents &copy; 2017 Baltimore County Public Library. All Rights Reserved.
				.col-md-4
					nav
						ul
							li
								a(href="#") Privacy Policy
							li
								a(href="#") User Terms
							li
								a(href="#") Accessibility
					nav
						ul
							li
								a(href="#") Translate
							li
								a(href="#") Adjust Contrast