header
	.topline-wrapper
		.container
			.row
				.col-md-8
					p Baltimore County Public Library. Be All In.
				.col-md-4
					nav.pull-right
						ul
							li
								a(href="#") Donate
							li
								a(href="#") Help
							li
								a(href="#") Locations
							li
								a(href="#") Login
									i.fa.fa-caret-right
	.menu-wrapper
		.container
			.row
				.col-md-4
					a(href="#")
						img(src="/dist/images/logo.png")
				.col-md-8
					button.fa.fa-search.pull-right
					nav.pull-right
						ul
							li
								a(href="#") Books and More
									i.fa.fa-caret-right
							li
								a(href="#") Events and Programs
									i.fa.fa-caret-right
							li
								a(href="#") Services
									i.fa.fa-caret-right
							li
								a(href="#") About Us
									i.fa.fa-caret-right
							li
								a(href="#") Youth
									i.fa.fa-caret-right

	.alert-wrapper
		.container
			.row
				.col-md-9
					p
						i.fa.fa-exclamation-circle 
						| The Randallstown Branch is currently closed for renovations.
						a(href="#") View all alerts
							i.fa.fa-caret-right
				.col-md-3
					button.pull-right Dismiss
						i.fa.fa-times
