/* Theme colors and accents */

$teal-light: rgb(0, 188, 180);
$teal: rgb(0, 161, 155);
$teal-dark: rgb(20,120,118);
$red: rgb(128, 39, 84);
$gold: rgb(255, 191, 59);
$tan: rgb(216, 210, 196);
$tan-light: rgb(248,240,219);
$purple-dark: #352e4f;

/* Text colors */

$gray-dark: #333;
$gray: #666;
$gray-medium: #999;
$gray-light: #ccc;
$gray-lightest: #eee;


