/* Theme colors and accents */
$teal-lightest: #e7f6f6;
$teal-light: rgb(0, 188, 180);
$teal: rgb(0, 161, 155);
$teal-dark: rgb(20,120,118);
$teal-darker: rgb(24, 107, 104); /* #186b68; */
$red: rgb(128, 39, 84);
$gold: rgb(255, 191, 59);
$tan: rgb(216, 210, 196);
$tan-light: rgb(248,240,219);
$purple-dark: rgb(53, 46, 79);  /* #352e4f; */
$emergency-orange: #fa542d;
$form-response-success-border: #93d493;
$form-response-success-background: #eaf6e9;
$form-response-warning-border: #cf989b;
$form-response-warning-background: #f9e6e7;

/* Text colors */

$gray-dark: #333;
$gray: #666;
$gray-medium: #999;
$gray-light: #ccc;
$gray-lightest: #eee;
$gray-almost-white: #f5f5f5;
$required-orange: #ff570c;
$form-error: #f00;