/* Theme colors and accents */
$teal-lightest: #e7f6f6;
$teal-light: #045d5a;
$teal: #045d5a;
$teal-dark: #084443;
$teal-darker: #186b68; /* #186b68; */
$red: #802754;
$gold: #ffbf3b;
$tan: #d8d2c4;
$tan-light: #f8f0db;
$purple-dark: #352e4f;  /* #352e4f; */
$emergency-orange: #fa542d;
$form-response-success-border: #93d493;
$form-response-success-background: #eaf6e9;
$form-response-warning-border: #cf989b;
$form-response-warning-background: #f9e6e7;

/* Text colors */

$gray-dark: #333;
$gray: #666;
$gray-medium: #333;
$gray-light: #555;
$gray-lightest: #eee;
$gray-almost-white: #f5f5f5;
$required-orange: #ff570c;
$form-error: #f00;