/* Theme colors and accents */
$teal-lightest: #e7f6f6;
$teal-light: #045d5a;
$teal: #045d5a;
$teal-dark: #084443;
$teal-darker: #186b68; /* #186b68; */
$red: #802754;
$gold: #ffbf3b;
$tan: #d8d2c4;
$tan-light: #f8f0db;
$purple: #802754;
$purple-dark: #352e4f;  /* #352e4f; */
$emergency-banner: #be0740;
$form-response-success-border: #93d493;
$form-response-success-background: #eaf6e9;
$form-response-warning-border: #cf989b;
$form-response-warning-background: #f9e6e7;
$alternating-row: white;

/* Text colors */

$gray-dark: #333;
$gray: #666;
$gray-medium: #999;
$gray-light: #ccc;
$gray-lighter: #ddd;
$gray-lightest: #eee;
$gray-almost-white: #f5f5f5;
$required-orange: #ff570c;
$form-error: #f00;

/* high contrast mods */

$hi-dark-green: #084443;
$hi-half-dark-green: #045d5a;
$hi-green: #196360;
$hi-burgundy: #7a0000;
$hi-gray: #565656;
$hi-light-gray: #ccc;