<main class="row">
	<div class="col-md-3">
		<div class="filters event-filters">
			<h3>Find an Event</h3>

			<div id="filter-items-wrapper" class="filter-items-wrapper">
				<form id="filter-form">
					<div class="events-search-wrapper filter-control-wapper">
						<h4>Keyword Search</h4>
						<div class="keyword-search-wrapper">
							<input class="keyword-search form-control" ng-model-options="{ updateOn: 'keyup', debounce: 500 }" ng-model="eventsPage.keywords"
							    ng-change="eventsPage.keywordSearch()" />
							<i class="fa fa-search fa-lg keyword-search-icon" aria-hidden="true"></i>
						</div>
					</div>
					<div class="date-search-wrapper filter-control-wapper">
						<h4>Date Filter</h4>
						<date-pickers start-date-model='eventsPage.userStartDate' end-date-model='eventsPage.userEndDate' filter-by-date="eventsPage.filterByDate"></date-pickers>
					</div>

					<h4 class="filter-headers">Branches</h4>
					<filters-expandos filter-type="locations" choice-type="one" search-function="eventsPage.filterByTerms"></filters-expandos>

					<h4 class="filter-headers">Event Types</h4>
					<filters-expandos filter-type="eventTypes" choice-type="many" search-function="eventsPage.filterByTerms"></filters-expandos>

					<h4 class="filter-headers">Age Groups</h4>
					<filters-expandos filter-type="ageGroups" choice-type="many" search-function="eventsPage.filterByTerms"></filters-expandos>

					<div class="button-wrapper filter-control-wapper">
						<button class="btn btn-default" type="reset" ng-click="eventsPage.clearFilters()">Clear filters</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-9 events-list">
		<h1>Events</h1>
		<div class="loading-spinner" ng-show="eventsPage.isLoading">
			<i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
		</div>
		<events-list event-groups="eventsPage.eventGroups"></events-list>
		<load-more chunk-size="eventsPage.chunkSize" load-next-page="eventsPage.loadNextPage" ng-show="eventsPage.eventGroups.length !== 0 && !eventsPage.isLastPage"></load-more>
		<p ng-hide="eventsPage.hasResults">
			<em>Sorry, no events match your search criteria. Please change your selections and try again.</em>
		</p>
	</div>
</main>