<main class="row">
	<div class="col-md-3">
		<div class="secondary-nav">
			<nav>
				<ul>
					<li>
						<a href="#">
							<i class="fa fa-hand-o-left fa-lg padded-icon padded-icon-right raised-icon" aria-hidden="true"></i>Return to Previous Page</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-envelope fa-lg padded-icon padded-icon-right raised-icon" aria-hidden="true"></i>Email a Friend
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-download fa-lg padded-icon padded-icon-right raised-icon" aria-hidden="true"></i>Download to Calendar
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="col-md-9">
		<div class="main-content top-border">
			<h1>Introduction to Raspberry PI and Scratch</h1>
			<p>Discover how computers work by building your own
				<a href="#">Raspberry PI</a> computer and use Scratch to create animations. For ages 11 to 14. Registration required. Please commit
				to both classes.
			</p>
			<button class="btn-primary btn-uppercase-bold">
				<i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Register</button>
			<table>
				<tbody>
					<tr>
						<td class="table-column-25 horizontal-headers">Date</td>
						<td>8/23/2017, 8/24/2017</td>
					</tr>
					<tr>
						<td class="table-column-25 horizontal-headers">Time</td>
						<td>1 p.m. to 2:30 p.m.</td>
					</tr>
					<tr>
						<td class="table-column-25 horizontal-headers">Event Type</td>
						<td>Technology</td>
					</tr>
					<tr>
						<td class="table-column-25 horizontal-headers">Age Group</td>
						<td>Teen</td>
					</tr>
					<tr>
						<td class="table-column-25 horizontal-headers">Branch</td>
						<td>Owings Mills</td>
					</tr>
					<tr>
						<td class="table-column-25 horizontal-headers">Note</td>
						<td>
							<p>Attendee must be between the ages of 11 and 14 years old.</p>
						</td>
					</tr>
					<tr>
						<td class="table-column-25 horizontal-headers">Status</td>
						<td>
							<p>We're sorry. This event is currently full.</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>