button {
	background: transparent;
	border: none;
}

.btn {
	border: none;
	border-radius: 0;
}

.btn-primary {
	background-color: $teal;
	border: 1px solid $gray;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	color: white !important;
	padding: .5em 1em;
	text-transform: uppercase;

	&:hover {
		background-color: $teal-light;
	}
}

.btn-uppercase-bold {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2em;
}

.btn-default,
.seButton {
	background-color: $gray-lightest;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
	padding: .5em 1em;
}

