button {
    background: transparent;
    border: none;
}

.btn {
    border: none;
    border-radius: 0;
}

.btn-primary {
    background-color: $teal;
    border: 1px solid $gray;
    box-shadow: $shadow-primary-darker;
    color: white !important;
    padding: .5em 1em;
    text-transform: uppercase;
    &:hover {
        background-color: $teal-light;
    }
    &:active,
    &:focus {
        background-color: $teal-dark;
    }
    &:active {
        &:hover,
        &:focus {
            background-color: $teal-dark;
        }
    }
}

.btn-uppercase-bold {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2em;
}

.btn-default,
.seButton {
    background-color: $gray-lightest;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
    padding: .5em 1em;
}

.btn-default,
.btn-primary,
.buttonPrimary,
.seButton {
    margin-bottom: 2em;
}

.btn-icon-left {
    margin-right: 5px;
}

.bc-btn-link {
	@extend a;
    text-align: left;
    &:active{
        box-shadow: none; 
    }
	padding: 0;
	width: auto;
}