.padded-icon {
    display: inline-block;

    &.padded-icon-right {
        margin-right: .5em;
    }
}

.raised-icon {
    position: relative;
    top: -4px;
}

i > span {
    display: none !important;
}
