a {
	color: $teal;
	font-weight: normal;
	line-height: 1.7em;
	text-decoration: none;

	&.solo {
		font-size: .8em;
		font-weight: bold;
		position: relative;
		text-transform: uppercase;

		i {
			font-size: 1.75em !important;
			margin-right: .5em;
			position: relative;
			top: 2px;			
		}
		
	}

	&:hover {
		color: $teal-light;
		-webkit-transition: color .25s ease;
		-moz-transition: color .25s ease;
		-o-transition: color .25s ease;
		transition: color .25s ease;
	}

	&:focus {
		color: $teal;		
	}
}

p {
	a {
		font-weight: 700;

		&:hover {
			text-decoration: none;
		}
	}
}

.main-content {
	strong {
		a {
			font-weight: 700;
		}
	}	
}
