table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;

	td, th {
		padding: .5em 1em;
		margin: 1px;
	}

	thead {
		tr {
			th {
				background-color: $red;
				color: white;
			}
		}
	}

	tbody {
		tr:nth-child(odd) {
			td {
				background-color: $gray-lightest;
			}
		}
	}
}