table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;

	td, th {
		padding: .5em 1em;
		margin: 1px;
	}

	tr {
		th {
			background-color: $red;
			color: white;
		}
	}

	tbody {
		tr:nth-child(odd) {
			td {
				background-color: $gray-lightest;
			}
		}

		td.table-column-25 {
			width: 25%;
		}

		td.horizontal-headers {
			font-weight: 700;
		}

	}
}