/* Theme colors and accents */

$teal-light: rgb(0, 188, 180);
$teal: rgb(0, 161, 155);
$lotus: rgb(128, 39, 84);
$gold: rgb(255, 191, 59);
$tan: rgb(216, 210, 196);

/* Text colors */

$gray: #666;
$gray-lightest: #eee;
$gray-dark: #333;


