.menu-wrapper
	.menu-inner-wrapper
		.container.menu-container
			.row
				.col-lg-4.col-md-12.logo
					a(href="#")
						img(src="/dist/images/logo.png")
				.col-lg-8.col-md-12.nav-and-search
					button#hamburger-menu-button.pull-right.active
						//-i.fa.fa-times
						i.fa.fa-bars(aria-hidden="true")
						.sr-only Open Menu

					button#activate-search-button.pull-right
						//-i.fa.fa-times
						i.fa.fa-search(aria-hidden="true")
						.sr-only Search

					nav
						ul
							li
								a(href="#") Books and More
									i.fa.fa-caret-right
							li
								a(href="#") Events and Programs
									i.fa.fa-caret-right
							li
								a(href="#") Services
									i.fa.fa-caret-right
							li
								a(href="#") About Us
									i.fa.fa-caret-right
							li
								a(href="#") Youth
									i.fa.fa-caret-right

					#search-box
						input(placeholder="Search the library")
						button#search-button
							i.fa.fa-search